<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div>
            <img width="370" src="/images/logo-mercado-liebre.svg">
        </div>
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="Ofertas">Ofertas</a></li>
                <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="Vender">Vender</a></li>
                <li><a href="Ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="Crea tu cuenta">Crea tu cuenta</a></li>
                <li><a href="Ingresá">Ingresá</a></li>
                <li><a href="Mis compras">Mis compras</a></li>
            </ul>
        </nav>
        <div>
            <img width="370" src="/images/img-home-banner.jpg">
        </div>
    </header>
    <main>
        <h4>Basado en tu última visita</h4>
        <section>
            <article>
                <img width="370" src="/images/img-cafetera-moulinex.jpg">
                <p>$6.700</p>
                <p>40% off</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img width="370" src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% off</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img width="370" src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% off</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img width="370" src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% off</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
        <h4>Sección de Ofertas</h4>
        <section>
            <article>
                <img width="370" src="/images/img-cafetera-moulinex.jpg">
                <p>$6.770</p>
                <p>40% off</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img width="370" src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% off</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img width="370" src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% off</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img width="370" src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% off</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>