@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
}

.buscador {
   margin-left: 20px;
   margin-top: 30px;
}

/*.icon {
    /*margin-left: 20px;
    padding-top: 30px
}*/

.comprar {
    text-align: center;
    margin-top: 20px;
}

.menu {
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
    display: none
}

header nav ul li {
    list-style: none;
    /*margin-left: 0px;*/
}

header nav ul li a {
    text-decoration: none;
}

.burger-menu {
    text-align: center;
    padding: 10px 0;
}

.burger-menu i {
    background: #1259c3;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    margin: 50%;
    
}

.banner {
    margin-top: 50px;
    /*margin-left: 20px;*/
    width: 100%;
}


main {
    
    /*margin-top: 5px;*/
    width: 90%;
    margin: 10px auto;
}

/*.cuerpo {
    margin-left: 150px;
    margin-right: 150px;
}*/

.titular {
    color:#666;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    /*text-align: center;
    width: 90%;*/
}

.articulo {
    background-color: white;
    margin: 5px 0;
}

.img-prod {
    width: 100%;
}

.contenedor {  
    padding: 20px;
    width: 100%;
    border-top: solid 1px #ebebeb;

}

main section article div i { 
margin: 20px 20px;
border: 1px solid green;
border-radius: 50%;
padding-block-end: 10px;
padding-inline-end: 10px;
}

.precio {
    margin-top: 10px;
    font-size: 18px;
    
}

.descuento {
    color: #39b54a;
    font-size: 16px;
}

.descripcion {
    display: none;
    color: #666;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
}

footer {
    background-color: white;
}


footer section {
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
}

.titular-footer {
    color: #666;
    font-size: 15px;
    /*text-transform: capitalize;*/
    margin: 10px;
}

.texto {
    font-size: 12px;
    margin-left: 30px;
    margin-right: 20px;
}

.copyright {
    font-size: 12px;
    margin-top: 30px;
    margin-left: 20px;
}









 /*TABLET*/
@media (min-width: 361px) { 

    .menu {
        display: block;
        width: 100%;
    }

    .descripcion {
        display: block;
    }

    .menu{
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .banner {
        margin-top: -10px;
    }

    .articulo {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    }
}

    




 /*COMPUTADORA*/

@media (min-width: 769px) {

    .menu {
        display: block;
    }

    .banner {
        margin-top: -10px;
    }

    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}